.header{
	min-height: 20vh;
	width: 100%;
	background-color: black;
	color: #FF55C2;
	font-size: 20px;
	
}

a{
	color: white;
	font-size: 15px;
}


a:hover{
	color: #FF55C2;
}



h3{
	font-weight: bold;
}

s{
 color: grey;
}

.rak{
	position: absolute;
	left: 50%;
}
.rek{
	position: absolute;
	left: 60%;
}
.rok{
	position: absolute;
	left: 70%;
}

.ruk{
	position: absolute;
	left: 80%;
}

.rik{
	position: absolute;
	left: 90%;
}
.center{
	min-height: 15vh;
	width: 100%;
	background-color:#C6C6C6 ;
	border-top-color: #FF55C2;
	border-style: solid;
	font-weight: bold;
	font-size: 20px;
}
.wrapper{
	min-height: 80vh;
	width: 100%;
	background-image: url("../images1/coworking.jpg");

}


.right{
	min-height: 35vh;
	width: 30%;
	float: right;
	background-color: white;
	margin-top: 20px;

}

.button{
	min-height: 8vh;
	width: 70%;
	background-color: #FF55C2;
	position: relative;
	left: 20%;
	font-weight: bold;
}

.wrapper1{
	min-height: 30vh;
}

.card{
	min-height: 30vh;
	width: 30%;
	background-color:white;
	margin-left: 10px;
	float: left;
}

h5{
	font-weight: bold;
	font-size: 18px;
}


.button1{
	min-height: 6vh;
	width: 70%;
	background-color: #C6C6C6;
	font-weight: bold;
	
}
.footer{
	min-height: 20vh;
	width: 100%;
	background-color: black;
	margin-top: 30px;
	color: white;

	
}


span{
	position: relative;
	top: 70px;
}

